<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877137330494-9pqqjjlpsq5pis45q7tdnavch5sre5ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877137330494-9pqqjjlpsq5pis45q7tdnavch5sre5ju</string>
	<key>API_KEY</key>
	<string>AIzaSyA5k5YJDg6MXZPtIcZKna5qEhTunSbFstY</string>
	<key>GCM_SENDER_ID</key>
	<string>877137330494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vikash.DemoAppL2</string>
	<key>PROJECT_ID</key>
	<string>sign-in-f1066</string>
	<key>STORAGE_BUCKET</key>
	<string>sign-in-f1066.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877137330494:ios:ef77e3d4e6b7cb869f6c6f</string>
</dict>
</plist>